<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jim.kkcd.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jim.kkcd.entity.File">
        <id column="id" property="id" />
        <result column="filename" property="filename" />
        <result column="fileinfo" property="fileinfo" />
        <result column="address" property="address" />
        <result column="sattus" property="sattus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, filename, fileinfo, address, sattus
    </sql>

</mapper>
